.before {
  background-color: blue;
  height: 100px;
  width: 100px;
}
.after {
  background-color: blueviolet;
  height: 100px;
  width: 100px;
}
.flex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.before::before {
  content: "muskaan";
  position: absolute;
  left: 0px;
}
